.MenuHeader {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  color: #b9b9b9;
  font-weight: 600;
  padding: 8px;
  position: fixed;
  width: 100%;
  z-index: 4;
  padding-bottom: 10px;
  top: 0;
  box-shadow: 0 2px 20px grey;
  background-color: white;
  margin-right: 0;
  left: -8px;
}

.imgWrapper {
  text-align: center;
  margin-bottom: 8px;
  img {
    max-height: 64px;
  }
}
.firstRow {
  display: flex;
  margin: 0px 0px 2px 8px;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 14px;
  }
  .socialIcons {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }
}

.secondRow {
  display: flex;

  border-radius: 25px;
  background-color: #eeeded;
  border: 0;
  padding: 6px 10px;
  color: #7a7a7a;
  input {
    flex-grow: 2;
    border: 0;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  button {
    border: 0;
  }
  button {
    &:focus {
      outline: none;
    }
    background-color: transparent;
  }
}
