.body {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  font-size: 14px;

  color: #808080;
  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    div {
      display: grid;
      grid-template-columns: 15px auto 10px;
      align-items: center;
    }
  }
}
.button {
  opacity: 1;
  z-index: 3;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0;
  background-color: #e8aa00;
  color: white;
  font-weight: 700;
  outline: none;
  margin: 16px auto;
  // -webkit-box-shadow: 2px 8px 13px -4px rgba(0,0,0,0.75);
  // -moz-box-shadow: 2px 8px 13px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 8px -4px rgba(0,0,0,0.75);
  cursor: pointer;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #e8aa00;
  border-radius: 50%;
}
