.OfferItem {
  color: #e8aa00;
  margin: 4px;
  h5 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
  }
  hr {
    margin: 20px 0px;
    border: 1px solid #e8aa00;
  }
}
