.seeAllBtn {
  display: inline-block;
  margin: 0px 8px 0px 12px;
  padding-bottom: 6px;
  vertical-align: middle;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 14px;
  i {
    text-align: center;
    vertical-align: middle;
  }
}
